<div class="container">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>ユーザー詳細</h1>
    <%= render 'user_info', user: @user %>

    <hr>

    <h3>フォローユーザー一覧</h3>
    <% if @user.followed_users.length > 0 %>
      <% @user.followed_users.each do |user| %>
        <%= render 'user_info', user: user %>
      <% end %>
    <% else %>
      <div class="alert alert-info" role="alert">
        フォローユーザーはいません。
      </div>
    <% end %>

    <hr>

    <h3>フォロワーユーザー一覧</h3>
    <% if @user.followers.length > 0 %>
      <% @user.followers.each do |user| %>
        <%= render 'user_info', user: user %>
      <% end %>
    <% else %>
      <div class="alert alert-info" role="alert">
        フォロワーユーザーはいません。
      </div>
    <% end %>

    <hr>

    <%= link_to '戻る', users_path %>
  </div>
</div>
