// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications li {
  list-style: none;
}

.notif-header {
  text-align: left;
}

.notif-body {
  text-align: left;
  line-height: 3;
}
